.MainBlock {
  position: relative;
  width: 100%; 
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.namePage {
  display: flex;
  align-items: center;
  width: 142px; 
  margin: 0; 

  img {
    width: 22px;
    height: 25px;
    margin-top: 20px;
    margin-left: 20px; 
  }

  h1 {
    margin: 0; 
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 52px;
    margin-top: 20px;
    letter-spacing: -0.001em;
  }
}

.description {
  p {
    margin-left: 21px;

    &:not(:last-child) {
      border-bottom: 1px solid white;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}

.descriptionTitle {
  width: 215px;

  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  text-align: left;
  color: white;
}

.descriptionText
 {
width: 223px;

font-size: 12px;
font-weight: 500;
line-height: 14.52px;
text-align: left;
color: white;

 }